.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 3000;
  box-shadow: 0 10px 30px -30px $green;
  background-color: $background-color;
  @include phone {
    flex-direction: column;
    align-items: center;
  }
  &.hidden {
    top: -100%;
  }
  &__nav {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
    @include phone {
      gap: 14px;
    }
  }
  &__link {
    color: $text;
    text-decoration: none;
    &:hover {
      color: $green;
    }
  }
  &__logo {
    width: 75px;
  }
}
