.link {
  width: 20px;
  position: fixed;
  bottom: 10px;
  left: 40px;
  @include tablet {
    width: 20px;
    left: 20px;
  }
  @include phone {
    left: 10px;
    width: 20px;
  }
  & ul {
    list-style: none;
    & li {
      padding-top: 15px;
    }
  }
  & a {
    color: #8892b0;
    &:hover {
      color: $green;
    }
  }
}
